params {
    indir = "/projects/molonc/roth_lab_scratch/dma/BIOF501A_Project/data"
    outdir = "/projects/molonc/roth_lab_scratch/dma/BIOF501A_Project/results"
    sample_sheet = "/projects/molonc/roth_lab_scratch/dma/BIOF501A_Project/sample_sheet.csv"

    genome = 'hg38'
    ref = "/projects/molonc/roth_lab_scratch/dma/CPSC545_project/ref/genome.fa"

    numbat_matched_normal_phasing = true
}

process {
    withName: HAPLOTYPECALLER {
        container = 'docker://broadinstitute/gatk:latest'
        cpus = 8
        memory = 32.GB
        time = '16h'
    }
    withName: CONCAT_SNPS {
        container = 'docker://staphb/bcftools:latest'
        cpus = 8
        memory = 32.GB
        time = '16h'
    }
}

profiles {
    local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
}
