// unscoped params
workDir = "work"
outputDir = "output"

// workflow params
workflow.output.mode = 'copy'

params {
    indir = "path/to/in/dir" // useless rn
    sample_sheet = "test_data/project_run.csv"

    genome = 'hg38' // only hg38
    ref = "path/to/ref/genome"

    // matched normal phasing
    numbat_matched_normal_phasing = false
    chroms = ['chr1','chr2','chr3','chr4','chr5','chr6','chr7','chr8','chr9','chr10','chr11','chr12','chr13','chr14','chr15','chr16','chr17','chr18','chr19','chr20','chr21','chr22']
    eagle_ref_panel_dir = "path/to/panel/dir" // hardcoded file names
    eagle_gmap = "test_data/ref-data/genetic_map_hg38_withX.txt.gz"

    // numbat
    genome1k_snps = "test_data/ref-data/genome1K.phase3.SNP_AF5e2.chr1toX.hg38.vcf.gz"
}

process {
    withName: HAPLOTYPECALLER {
        container = 'docker://broadinstitute/gatk:latest'
        cpus = 8
        memory = 32.GB
        time = '16h'
    }
    withName: 'BCFTOOLS.*' {
        container = 'docker://staphb/bcftools:latest'
        cpus = 8
        memory = 32.GB
        time = '8h'
    }
    withName: EAGLE2 {
        container = 'docker://cbao/eagle:v2.4.1'
        cpus = 16
        memory = 32.GB
        time = '12h'
    }
    withName: 'DOWNLOAD.*' {
        container = 'docker://rocker/r-base:latest'
        cpus = 2
        memory = 8.GB
        time = '1h'
    }
    withName: 'NUMBAT.*' {
        container = 'docker://dinguwu/numbat:v0.1'
        cpus = 16
        memory = 32.GB
        time = '12h'
    }
}

profiles {
    local {
        process.executor = 'local'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
    slurm {
        process.executor = 'slurm'
        singularity.enabled = true
        singularity.autoMounts = true
        process.containerOptions = "--no-home"
    }
}
